<div class="sr5-hud">
    <div class="sr5-hud mainContent grid col7">
            <!--Main Avatar Start-->
            <div class="header-bar row1-col3start">
                <div class="icon-character left">
                    <i class="fa-solid fa-user-secret"></i>
                </div>
                <div class="header">header</div>
                <div class="icon-minimize right">
                    <i class="fa-solid fa-minimize"></i>
                </div>
            </div>
            <div class="avatar row2start">
                <div class="section-wrapper">
                    <div class="avatar-image">
                        {{#each actors}}
                            <img src="{{this.actor.image}}" Title="{{this.actor.name}}">
                        {{/each}}
                    </div>
                    <!--Move section, not sure yet how bring in the movement meters into a bar, maybe gradiant coloring-->
                    <div class="movement">
                        
                    </div>
                </div>
            </div>
            <div class="end-bar hidden">
            </div>
            <div class="sr5-hud-hp-box">
                {{#for 0 this.actor.physTrack.value}}
                <div class="sr5-hud-physik-filled sr5-hud-track"></div>
                {{/for}}
                {{#for this.actor.physTrack.value this.actor.physTrack.max}}
                <div class="sr5-hud-physik sr5-hud-track"></div>
                {{/for}}
            </div>
            <div class="sr5-hud-stun-box">
                {{#for 0 this.actor.stunTrack.value }}
                <div class="sr5-hud-stun-filled sr5-hud-track"></div>
                {{/for}}
                {{#for this.actor.stunTrack.value this.actor.stunTrack.max}}
                <div class="sr5-hud-stun sr5-hud-track"></div>
                {{/for}}
            </div>
            <!--Main End, Effects Start-->
            <div class="effects-icons-bar row2-col4start">
                <div class="effects">
                    {{#each this.actor.statuses}}
                    <div class="effect-container">
                        <img src='{{this.img}}' title='{{localize this.name}}'>
                        <div class="effect-text">Special Text</div>
                    </div>
                    {{/each}}
                    <div class="effect-container"></div>
                </div>
            </div>
            <!--Effects End, Skills and Actions Start-->
            <div class="nav-selector-actions-skills">
                <div class="action-skills">skill-list area
                    <!--<div class="sr5-hud-list-item">Select Action</div>-->
                </div>
            </div>
            <div class="actions-bar col10">
                <div class="action">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons blank"></i>
                    action icon image here + text
                    <!--This container will move into nav-selector-actions-skills div for all-->
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank gone">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
            </div>
            <!--End Bar moved to the end once end bar after image area is clicked-->
            <div class="end-bar visible">

            </div>
    </div>
</div>