<div class="sr5-hud">
    <div class="sr5-hud mainContent grid col7">

            <div class="header-bar row1-col3start">
                <div class="icon-character left">
                    <i class="fa-solid fa-user-secret"></i>
                </div>
                <div class="header">header</div>
                <div class="icon-minimize right">
                    <i class="fa-solid fa-minimize"></i>
                </div>
            </div>
            <div class="avatar row2start">
                <div class="section-wrapper">
                    <div class="avatar-image">image</div>
                    <div class="movement">
                        move
                    </div>
                </div>
            </div>
            <div class="end-bar hidden">
            </div>
            <div class="hp">hp</div>
            <div class="stun">stun</div>
            <div class="effects-icons-bar row2-col4start">
                <div class="effects">effects</div>
            </div>
            <div class="nav-selector-actions-skills">
                <div class="action-skills">skill-list area
                    <!--<div class="sr5-hud-list-item">Select Action</div>-->
                </div>
            </div>
            <div class="actions-bar col10">
                <div class="action">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons blank"></i>
                    action icon image here
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
                <div class="action blank">
                    <i class="fa-solid fa-circle-plus sr5-hud-icons"></i>
                    <div class="list-items-container">
                        <div class="sr5-hud-list-item">Action or Skill</div>
                        <div class="sr5-hud-list-item">Action or Skill</div>
                    </div>
                </div>
            </div>
            <div class="end-bar visible">end

            </div>
    </div>
</div>