/* Varibles*/
:root{
    --primaryBackground: rgba(0, 0, 0, 0.445);
    --buttonMain: rgb(83, 1, 1);
    --buttonsecdry: rgb(4, 4, 170);
    --health: rgb(231, 41, 41);
    --stun: rgb(15, 70, 250); 
    --buttonlight: rgb(255, 171, 171);
    --buttonHighlight: rgb(207, 194, 7);
    --mainHeading: rgb(189, 189, 23);
    --systemFonts: 'Signika', 'Palatino Linotype', serif;
    --editorFonts: "klavika-medium";
    --emptyBoxBorder: rgba(255, 255, 212, 0.466);
    --emptyBox: #f5f5dc59;
    --standardPadding: 0.25em;
    --boxShadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6), /* Vertical shadow */
    8px 0 6px -6px rgba(0, 0, 0, 0.6); /* Horizontal shadow on the right */
  
    --topBoxShadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6), /* Vertical shadow */
    8px 0 6px -6px rgba(0, 0, 0, 0.6), /* Horizontal shadow on the right */
    0 -8px 6px -6px rgba(0, 0, 0, 0.6); /* Horizontal shadow on the top */
    --headerImage: url('../assets/biomon-header.webp') no-repeat center center;
  }

  .app.window-app.sr5-hud .window-title{
    display: none;
  }
  .sr5-hud > section.window-content {
    display: block !important;
    box-shadow: none !important;
    background-image: url('../assets/frame.webp');
}
.window-app.sr5-hud .window-header {
    display: none;
    border-bottom: none;
}
  .sr5-hud{
    background-image: url('../assets/frame.webp'); /*Repeat needed as different elements needed to be tricked*/
    box-shadow: none;
    &.mainContent{
        width: 73.2em;
    }
    .window-header.flexrow.draggable.resizable{
        background: none;
        display: none
    }
    .grid{
        display: grid;
    }
    .col7{
        grid-template-columns: 16.5em 1em 4em auto auto auto 1em;
        grid-template-rows: auto auto 2em 2em 1.5em;
    }
    .grid-row1-col3start{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .header-bar {
        margin: 0.2em;
        display: grid; /* Using grid layout */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        transition: 50ms;
        align-items: center; /* Center items vertically */
        padding: 4px; /* Add some padding around the contents */
        background: linear-gradient(to right, #007bff, #6610f2); /* A gradient background for a modern look */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
        border-radius: 5px; /* Rounded corners for a polished look */
        color: white; /* Text color, if you have any text inside */
        gap: 10px; /* Space between grid items */
        &.sr5-hud-min {
            grid-template-rows: 2em;
            position: relative;
            top: 260px;
        }
    }
    .icon-character{
        grid-column-start: 1;
        &.left{
            display: flex;
            justify-content: left;
        }
    }
    .icon-minimize{
        grid-column-start: 3;
        &.right{
            display: flex;
            justify-content: right;
        }
    }
    .avatar{
        display: grid;
        width: max-content;
        grid-template-columns: auto auto auto;
        background-color: #626363;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .skill-list-active {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .empty-selector{
            grid-column-start: 1;
            grid-column-end: 4;
            border: solid 1px #1059db;
            border-radius: 4px;
            margin-right: 4px;
            height: 14px;
        }
        .sr5-hud-nav-switch{
            grid-column-end: 5;
        }
    }
    .skill-list-active:hover{
        color: #d6b80c;
    }
    .sr5-hud-skill-container{
        width: 16.1em;
        min-height: fit-content;
        max-height: 43em;
        display: none;
        position: absolute;
        bottom: 300px;
        left: 11px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(to right, #007bff, #6610f2);
        overflow-y: scroll;
    }
    .sr5-hud-skill-list:checked ~ .sr5-hud-skill-container{
        display:block;
    }
    .skill-list-active:has(.sr5-hud-skill-list:checked){
        .empty-selector{
            display: none;
        }
    }
    .sr5-hud-skill {
        margin: 4px;
        padding-bottom: 4px;
        display: grid;
        grid-template-columns: auto 1.5em 2em;
        border: solid 1px #1059db;
        border-radius: 4px;
        color: white;
        font-size: 10px;
    }
    .sr5-hud-skill:hover {
        border: solid 1px #10a2db;
        border-radius: 5px;
        color: var(--buttonHighlight);
    }
    .skillname {
        margin-left: 6px;
        margin-top: 4px;
        margin-right: 3px;
        height: fit-content;
        border-radius: 4px;
    }
    .skill-value {
        margin-top: 4px;
        padding-left: 3px;
    }
    .fa.solid.fa-list.sr5-hud-icons.skill-icon-list {
        margin-top: 6px;
        padding-left: 3px;
    }
    .grid-row2start-end6{
        grid-row-start: 2;
        grid-row-end: 6;
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0.4em;
        background-color: #626363;
    }
    .avatar-image {
        width: 16em;
        height: 16em;
        display: block;
        margin: 0.05em;
        border: 1px solid aqua; /* Frame effect */
        border-radius: 0.3em; /* Rounded corners */
        background-color: #99ebc254; /* Background color */
        background-position: center; /* Center the background image */
        background-size: contain; /* Ensure the image fits within the div, maintaining aspect ratio */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        margin-right: 0.5em;
        contain: content;
    }
    
    .movement {
        align-content: center;
        color: aqua;
        margin: 0.02em;
        border: 1px solid black;
        display: block;
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column-start: 3;
        background-color: green;
        background-position: center;
        width: 0.5em;
    }
    .movement:hover {
        border: 1px solid lightcoral; /* Light red border on hover */
    }
    
    .actor-box{
        display: grid;
    }
    .effects-icons-bar{
        grid-column-start: 3;
        background-color: #626363;
        border-top-right-radius: 6px;
        .effects{
            color: azure;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.4em;
            margin-top: 0.5em;
        }
    }
    .effect-container{
        width: 3em;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2em 1em;
        .effect-text {
            color: var(--buttonHighlight);
            font-size: 7px;
            padding: 2px;
            text-align: center;
        }
    }
    .sr5-hud-hp-box{
        grid-row-start: 3;
        margin-top: 0.3em;
        margin-bottom: 0.25em;
        width: 15.5em;
        display: flex;
        grid-template-columns: auto;
    }
    .sr5-hud-stun-box{
        grid-row-start: 4;
        margin-top: 0.3em;
        margin-bottom: 0.25em;
        width: 15.5em;
        display: flex;
        grid-template-columns: auto;
    }
    .checkbox-nav{
        display: none;
    }
    .nav-selector-actions-skills{
        display: none;
    }
    .actions-bar{
        grid-column-start: 4;
        grid-row-start: 3;
        grid-column-end: 7;
        grid-row-end: 6;
        margin-top: 0.5em;
        background-color: #626363;
        &.col10{
            display: grid;
            grid-template-columns: 4em 4em 4em 4em 4em 4em 4em 4em 4em 4em 4em 4em;
            column-gap: 0.1em;
        }
    }
    .sr5-hud-action{
        height: 5em;
        width: 4em;
        background-color: rgba(255, 228, 196, 0.164);
        border: 0.2em solid #626363;
        border-radius: 0.2em;
        position: relative;
        display: flex;
        justify-content: top;
        align-items: center;
        &.blank{
            background-color: bisque;
            border: 0.2em solid #626363;
            justify-content: center;
        }
        &img{
           width: 4em;
           height: 4em; 
        }
    }

    .sr5-hud-action:hover {
        display: grid; /* Show on hover */
    }
    .list-items-container {
        display: none; /* Hidden by default, shown on hover */
        position: fixed;
        bottom: 13.2%; /* Adjust if necessary to position correctly */
        left: 23.0%; /* Start from the left edge of the .action */
        width: 37.8em;
        min-width: 10em;
        height: auto;
        min-height: 10em;
        background: rgba(0, 0, 0, 0.6); /* Optional: for visibility during styling; can be removed */
        border: 1px solid #626363; /* Optional: for visibility during styling; can be removed */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
        overflow: hidden; /* Prevents overflow outside the container */
        grid-template-rows: repeat(auto-fill, minmax(44px, auto)); /* Adjust row height as needed */
        grid-auto-flow: column; /* Directs items to new columns once the height exceeds container's limit */
        grid-auto-columns: minmax(auto, 30px); /* Adjust column width as needed */
        align-content: end; /* Aligns content to the bottum */
        gap: 0.1em; /* Space between items */
        padding: 0.3em; /* Padding inside the container */
        z-index: 1; /* Ensure it's above other elements */
        /* Transition for smoother appearance/disappearance */
        transition: opacity 0.2s ease-in-out;
        opacity: 0; /* Start fully transparent */
        pointer-events: none; /* Ignore pointer events when not visible */
        img{
            background-image: none;
        }
    }
    /* NAV Checkboxes*/
    .sr5-hud-checkbox{
        display: none;
    }
    .sr5-hud-checkbox ~ label{
        display: grid;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
    }
    .sr5-hud-checkbox:checked ~ .list-items-container {
        display: grid;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        pointer-events: all;
        .sr5-hud-list-item{
            display: block;
        }
    }
    .sr5-hud-action.quality:focus ~ .list-items-container{
        display: grid;
        pointer-events: all;
        .sr5-hud-list-item{
            display: grid;
        }
    }
    .sr5-hud-list-item {
        /* Styles for individual list items, e.g., background, color, padding */
        display: none;       
        text-align: center;
        border-radius: 4px; 
        height: 4em;
        width: 3em;
        align-content: center;
    }
    .sr5-hud-list-item.sr5-hud-quality.hud-negative{
        > p {
            font-size: 8px;
            text-align: center;
            color: rgb(206, 28, 37);
        }

    }
    .sr5-hud-list-item.sr5-hud-quality.hud-positive{
        > p {
            font-size: 8px;
            text-align: center;
            color: rgb(17, 236, 36);
        }
    }
    .hud-positive:hover{
        color: rgba(0, 255, 255, 0.24);
    }
    .action-image {
        width: 3em;
        height: 3em;
        border: none;
        padding-top: 0.5em;
    }
    .gone{
        display: none;
    }
    .end-bar{
        &.visible{
            background-color: red;
            width: 0.3em;
            grid-column-start: 7;
            grid-row-start: 3;
            grid-row-end: 5;
        }
    }

    .fa-solid.fa-circle-plus{
        &.sr5-hud-icons{
            font-size: 3.5em;
        }
        &.blank{
            display: none;
        }
    }
    .fa-solid.fa-circle-plus:hover{
        &.sr5-hud-icons{
            color: #d6b80c;
        }
        &.blank{
            display: none;
        }
    }
    /* Container for Physik boxes */
    .sr5-hud-physik {
    grid-row: 1; /* Physik boxes in the first row */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0.5em, 1fr)); /* Creates a flexible number of columns */
    }
  
    /* Container for Stun boxes */
    .sr5-hud-stun {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0.5em, 1fr)); /* Creates a flexible number of columns */
    }
    /* Styles for filled and empty Physik boxes */
    .sr5-hud-physik-filled,
    .sr5-hud-physik {
        grid-auto-columns: auto;
        grid-row: 1;
    }

    .sr5-hud-physik-filled {
    background-color: var(--health); /* Red for filled Physik */
    }

    .sr5-hud-physik {
    border: 1px solid var(--emptyBoxBorder); /* Yellow border for empty Physik */
    background: var(--emptyBox);
    }

    /* Styles for filled and empty Stun boxes */
    .sr5-hud-stun-filled,
    .sr5-hud-stun {
        grid-auto-columns: auto;
        grid-row: 2;
    }
    .sr5-hud-track{
        width: 0.5em;
        height: 0.5em;
        margin-left: 4.5px;
    }
    .sr5-hud-stun-filled {
    background-color: var(--stun); /* Blue for filled Stun */
    }

    .sr5-hud-stun {
    border: 1px solid var(--emptyBoxBorder); /* Yellow border for empty Stun */
    background: var(--emptyBox);
    }
}
.sr5-hud-frame{
    display: none;
}
img.sr5-hud-character {
    width: 16em;
    border: none;
    display: flex;
    align-items: center;
}
.tooltiptext {
    display: none;
    position: fixed;
    z-index: 900;
    bottom: 21em;
    left: 41.3em;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 37.7em;
    height: 16em;
    pointer-events: auto;
}
/* Show the tooltip text when hovering over a list item */
.sr5-hud-list-item:hover .tooltiptext {
    display: grid;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}